@model Contracts.SharedDtos.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_LayOutAuth.cshtml";
}
@if (ViewData["SuccessMessage"] != null)
{

}



@section ForgetPasswordStyle{


    <link href="~/css/ForgetPassword.css" rel="stylesheet" />

}

<div class="container parent">
    <h2 class="text-center my-4">نسيت كلمة المرور</h2>
    <form >
        <div class="form-group">
            <label for="email">البريد الاكتروني</label>
            <input type="email" id="email" class="form-control inputEmail" />
            <span class="text-danger  SpanError"></span>
        </div>
        <button type="submit" class="btn subMitBtn">إرسال الرابط</button>
    </form>

</div>


@section ForGetSection{

    <script src="~/js/ForgetPasword.js"></script>
}