@model Contracts.SharedDtos.ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_LayOutAuth.cshtml";
}

@if (TempData["MessageReste"] != null)
{

    <div>@TempData["MessageReste"]</div>
}
@section LoginPageStyle{

    <link href="~/css/Login.css" rel="stylesheet" />
}

<div class="container parent">
    <h3>إعادة تعيين كلمة المرور</h3>

    <form asp-action="ResetPassword" method="post">
        <div class="form-group mb-3">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" readonly />
        </div>
        <div class="form-group mb-3">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <input type="hidden" name="Token" value="@Model?.Token" />

        <button type="submit" class="btn">إعادة تعيين كلمة المرور</button>
    </form>
</div>


@section ResetPasswordSection {

    @{
        await Html.PartialAsync("_ValidationScriptsPartial");
    }

}